{% extends "../layouts/base.twig" %}

{% block style %}
<link href="/css/competitions.css" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
    <section class="form-section">
        <h1>Liste des Compétitions</h1>

        <div class="cards-container">
            {% for competition in competitions %}
            <div class="card">
                <h2>{{ competition.nom }}</h2>
                <p>{{ competition.description }}</p>
                <p><strong>Jeu:</strong> {{ competition.jeu.nom }}</p>
                <div class="card-actions">
                    <form action="/admin/competition/{{ competition.id }}/supprimer" method="POST">
                        <button type="submit" class="button danger-button">Supprimer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
