{% extends "../layouts/base.twig" %}

{% block main %}
    <div>
        <div>
            <h1>Créer un Jeu</h1>
            <form action="/admin/jeu/creer" method="POST">
                <div>
                    <label for="nom">Nom du jeu</label>
                    <input type="text" name="nom" id="nom" required>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description" id="description" required></textarea>
                </div>
                <div>
                    <button type="submit">Créer Jeu</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
