{% extends "../layouts/base.twig" %}

{% block style %}
<link href="/css/jeux.css" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
    <section class="form-section">
        <h1>Liste des Jeux</h1>

        <div class="cards-container">
            {% for jeu in jeux %}
            <div class="card">
                <h2>{{ jeu.nom }}</h2>
                <p>{{ jeu.description }}</p>
                <div class="card-actions">
                    <form action="/admin/jeu/{{ jeu.id }}/supprimer" method="POST">
                        <button type="submit" class="button danger-button">Supprimer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}