{% extends "../layouts/base.twig" %}

{% block main %}
    <div>
        <div>
            <h1>Se connecter</h1>
            <form action="/login" method="POST">
                <div>
                    <input autocomplete="mail" id="mail" type="text" name="mail" placeholder="Email" required>
                </div>
                <div>
                    <input id="password" type="password" name="password" placeholder="Mot de passe" required>
                </div>
                <div>
                    <input type="submit" value="Connexion">
                </div>
            </form>
            <p>
                <a href="/mot-de-passe-oublie">Mot de passe oublié ?</a>
            </p>
            <p>Pas encore inscrit ?
                <a href="/register">Cliquez ici</a>
            </p>
        </div>
    </div>
{% endblock %}
