{% block main %}
	<form action="/mot-de-passe-oublie" method="POST">
		<label for="email">Entrez votre adresse email :</label>
		<input type="email" name="email" id="email" required>
		<button type="submit">Réinitialiser mot de passe</button>
	</form>
{% endblock %}
