{% block main %}
    <form action="/mot-de-passe-reinitialisation" method="POST">
  <input type="hidden" name="token" value="{{ token }}">
  <label for="password">Nouveau mot de passe :</label>
  <input type="password" name="password" id="password" required>
  <button type="submit">Mettre à jour le mot de passe</button>
</form>
{% endblock %}